In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [138]:
train=pd.read_csv('D:\\Downloads\\582c7d7a0a2311eb\\dataset\\train.csv') 
test=pd.read_csv('D:\\Downloads\\582c7d7a0a2311eb\\dataset\\test.csv')

In [113]:
train.head()

,Id,Question,Answer,category
0,6878,How beautiful do you think I am?,"I can't see you, but I think you're great!",enthusiastic
1,12252,How has your sunday been?,"Great, thanks for asking!",friendly
2,34477,I think you are incredible,Flattery. I like it.,witty
3,9524,I'm an angry guy,That's a bummer.,witty
4,14433,How are you doing today?,So far so good!,enthusiastic

In [114]:
test.head()

,Id,Question,Answer
0,8176,You are worthless,I'm a work in progress.
1,24946,I'm on vacation,How nice!
2,25759,Is anyone free to talk to me?,Chat away!
3,34481,Please tell me another joke,Why did the cookie go to the doctor? It was fe...
4,18470,Good morning sunshine,Good morning!

In [115]:
sample=pd.read_csv('D:/Downloads/582c7d7a0a2311eb/dataset/sample_submission.csv')
sample.head()

      Id      category
0  10059  professional
1  25269         witty
2   8713        caring
3  47739      friendly
4  19944        caring

In [116]:
train['category'].unique()

array(['enthusiastic', 'friendly', 'witty', 'caring', 'professional'],
      dtype=object)

In [139]:
y1=train.loc[:,'category']

In [118]:
train=train.drop(['category','Question'],axis=1)
test=test.drop('Question',axis=1)
train.head()

      Id                                      Answer
0   6878  I can't see you, but I think you're great!
1  12252                   Great, thanks for asking!
2  34477                        Flattery. I like it.
3   9524                            That's a bummer.
4  14433                             So far so good!

In [119]:
import re 
import nltk
review=re.sub('[^a-zA-Z]',' ',test.loc[:,'Answer'][0])
review=review.lower()
review=review.split()
review

['i', 'm', 'a', 'work', 'in', 'progress']

## i think natural language processing might be used to solve this problem. and the approch to solve the problem is grouping the data

In [106]:
import nltk
from nltk.corpus import stopwords
import re 
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]
for i in range(20572):
    review=re.sub('[^a-zA-Z]',' ',train.loc[:,'Answer'][i]) 
    review=review.lower()
    review=review.split()
    review=[ps.stem(i) for i in review if not i in set(stopwords.words('english'))]
    review=' '.join(review)
    corpus.append(review)
corpus[0:10]

['see think great',
 'great thank ask',
 'flatteri like',
 'bummer',
 'far good',
 'famili way human',
 'sure keep think bet come great answer',
 'cartoonish supervillaini beneath beyond',
 'hi',
 'ok let mime']

In [107]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()
x[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [125]:
y1=y1.values

In [126]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(x,y1)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [127]:
np.shape(test)

(8816, 2)

In [129]:
l1=[]
for i in range(8816):
    review=re.sub('[^a-zA-Z]',' ',test.loc[:,'Answer'][i]) 
    review=review.lower()
    review=review.split()
    review=[ps.stem(i) for i in review if not i in set(stopwords.words('english'))]
    review=' '.join(review)
    l1.append(review)
l1[0:10]

['work progress',
 'nice',
 'chat away',
 'cooki go doctor feel crummi',
 'good morn',
 'sound like time snack',
 'gener work independ sinc differ strength',
 'realli appli',
 'think differ way safe say smarter',
 'okay']

In [130]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_test=cv.fit_transform(l1).toarray()
x_test[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [131]:
predictions=mnb.predict(x_test)
predictions

array(['friendly', 'professional', 'friendly', ..., 'caring', 'caring',
       'friendly'], dtype='<U12')

In [133]:
df=pd.DataFrame()
df['Id']=test.loc[:,'Id'].values
df['Answer']=test.loc[:,'Answer'].values
df['expression']=predictions
df.head(10)

      Id                                             Answer    expression
0   8176                           I'm a work in progress.       friendly
1  24946                                          How nice!  professional
2  25759                                         Chat away!      friendly
3  34481  Why did the cookie go to the doctor? It was fe...  enthusiastic
4  18470                                      Good morning!  professional
5  42121                 Sounds like it's time for a snack.      friendly
6  33806  We generally work independently, since we each...        caring
7  36075                   That doesn't really apply to me.  professional
8   5416  We think in very different ways, but it's safe...        caring
9  26797                                              Okay.  professional

In [136]:
submission=df.copy()
submission=submission.drop('Answer',axis=1)
submission.head()

      Id    expression
0   8176      friendly
1  24946  professional
2  25759      friendly
3  34481  enthusiastic
4  18470  professional